* {
	box-sizing: border-box;
}

body {
	overscroll-behavior-y: none;
	margin: 0;
	padding: 0;
}

nav {
	width: 10rem;
	display: flex;
	flex-direction: column;

	&>div {
		border: 1px solid skyblue;
		background-color: azure;
		border-radius: 4px;
		padding: 1rem;
	}
}

#actor-profile {
	display: flex;
	padding: 1rem;
}